body{
    /* background-image: url('../assets/heroes/fondoo.jpg'); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/heroes/fondoo.jpg');
    background-position: center top; 
    color: #ffffff;
}
ul{
   list-style: none; 
}


.gridd{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    gap: 20px;
}

.cardd{
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

