body{
    /* background-image: url('../assets/heroes/fondoo.jpg'); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('./heroes/fondoo.jpg');
    background-position: center top; 
    color: #ffffff;
    padding: 10px;
    background-size:cover;
    min-height: 100vh;
}
ul{
   list-style: none; 
}


.gridd{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(450px, 1fr) );
    gap: 20px;
}

.cardd{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

